<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/304d63aa-f9d5-4297-a851-722a63aacad7/resourceGroups/HRConnect/providers/Microsoft.Web/sites/HRConnectAPI</ResourceId>
    <ResourceGroup>HRConnect</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hrconnectapi-d2bbatcedeg0a7ht.indiasouthcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>74cf0a36-a2fa-7911-75e6-912dcbb54c44</ProjectGuid>
    <PublishUrl>https://hrconnectapi-d2bbatcedeg0a7ht.scm.indiasouthcentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>